<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Joboard</title>
  <meta name="description" content="">
</head>

<body>
	<h1>Joboard</h1>

	<p id="loading">Chargement...</p>

	<div id="search">
		<form>
			<input type="text" placeholder="Rechercher"/>
		</form>

	</div>

	<table style="display:none">
		<thead>
			<tr>
				<th data-type="label">Intitulé</th>
				<th data-type="company">Recruteur</th>
				<th data-type="place">Lieu</th>
				<th data-type="ts" data-dir="1">Date</th>
				<th data-type="source">Source</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="//underscorejs.org/underscore-min.js"></script>
	<script src="https://raw.github.com/timrwood/moment/1.6.2/min/moment.min.js"></script>
	<script>
		moment.lang('fr');
		var offres = [];

		function renderTable(offres)
		{
			var html = '';
			_.each(offres, function(o,i){
				html+='<tr>'

				html+='<td><a href="'+o.href+'" target="_blank">'+o.label+'</a></td>'
				html+='<td>'+o.company+'</td>'
				html+='<td>'+o.place+'</td>'
				html+='<td>'+moment(o.ts).format('DD/MM/YYYY')+'</td>'
				html+='<td>'+o.source+'</td>'

				html+='</tr>'
			})
			$("table tbody").html(html);
		}

		$.get('/offres', function(response){
			offres = response;
			$("#loading").remove();
			$("table").show();
			renderTable(offres);
		})

		$("th").css("cursor", "pointer").on("click", function(e){
			var sort_key = $(this).data("type");
			var sort_dir = $(this).data("dir") == 1 ? -1 : 1;

			$(this).data("dir", sort_dir)

			offres = _.sortBy(offres, sort_key)

			if (sort_dir == -1)
				offres.reverse();

			renderTable(offres);
			e.preventDefault();
		})

		$("#search input").on("keyup", function(e){
			var q = $.trim($(this).val()).split(' ');
			var temp = _.filter(offres, function(o){
				var test_string = o.label+' '+o.place+' '+o.company+' '+o.source;
				for (var i=0; i < q.length; i++){
					if (test_string.toLowerCase().indexOf(q[i].toLowerCase()) == -1)
						break;
				}
				return i == q.length;
			});

			renderTable(temp);
		})

	</script>
</body>
</html>
